openapi: 3.2.0
info:
  title: Moovit Public Transit Service Alerts API
  description: Moovit Public Transit APIs power multimodal trip planning, nearby transit discovery, stops and lines metadata, real-time arrival predictions, and service alerts across more than 3,500 cities in 112 countries.
  version: 5.1.0.0
  contact:
    name: Moovit API Helpdesk
    email: helpdesk@moovit.com
    url: https://api-docs.moovit.com/
  license:
    name: Commercial
    url: https://moovit.com/maas-solutions/transit-apis/
servers:
- url: https://app5.moovitapp.com/services-app/services
  description: Production
- url: https://api.moovitapp.com/services-app/services/EX/API
  description: Production (MAG)
- url: https://stg.moovitapp.com/services-app/services
  description: Staging
security:
- apiKey: []
  hmacAuth: []
tags:
- name: Service Alerts
  description: Metro service alerts and details.
paths:
  /General/GetMetroServiceAlerts:
    get:
      tags:
      - Service Alerts
      summary: Get Metro Service Alerts
      description: All system-wide service alerts for the metro area.
      responses:
        '200':
          description: Metro service alerts.
      operationId: getGeneralGetMetroServiceAlerts
      x-operation-id-source: derived
  /General/GetAlertDetails:
    get:
      tags:
      - Service Alerts
      summary: Get Alert Details
      description: Detailed information for a single alert.
      parameters:
      - in: query
        name: alertId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Alert details.
      operationId: getGeneralGetAlertDetails
      x-operation-id-source: derived
components:
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 signature in the form `hmacauth <signature>:<nonce>:<timestamp>` over `<timestamp>:<payload>:<nonce>` using the API secret key.
    apiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: Public API key issued by Moovit. Required on every request.
externalDocs:
  description: Moovit Public Transit APIs reference
  url: https://api-docs.moovit.com/api-docs/5.1/MoovitPublicTransitAPIs.html
