openapi: 3.2.0
info:
  title: Moovit Public Transit Real Time API
  description: Moovit Public Transit APIs power multimodal trip planning, nearby transit discovery, stops and lines metadata, real-time arrival predictions, and service alerts across more than 3,500 cities in 112 countries.
  version: 5.1.0.0
  contact:
    name: Moovit API Helpdesk
    email: helpdesk@moovit.com
    url: https://api-docs.moovit.com/
  license:
    name: Commercial
    url: https://moovit.com/maas-solutions/transit-apis/
servers:
- url: https://app5.moovitapp.com/services-app/services
  description: Production
- url: https://api.moovitapp.com/services-app/services/EX/API
  description: Production (MAG)
- url: https://stg.moovitapp.com/services-app/services
  description: Staging
security:
- apiKey: []
  hmacAuth: []
tags:
- name: Realtime
  description: Live arrival predictions for stops and lines.
paths:
  /RealTime/GetLineStopArrivalsEx:
    get:
      tags:
      - Realtime
      summary: Get Line Stop Arrivals Ex
      description: Enhanced real-time arrival predictions for a line at a stop.
      parameters:
      - in: query
        name: lineId
        required: true
        schema:
          type: string
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Real-time arrivals.
      operationId: getRealTimeGetLineStopArrivalsEx
      x-operation-id-source: derived
  /RealTime/GetLineArrivals:
    get:
      tags:
      - Realtime
      summary: Get Line Arrivals
      description: Vehicle arrival times for a line.
      parameters:
      - in: query
        name: lineId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Vehicle arrivals.
      operationId: getRealTimeGetLineArrivals
      x-operation-id-source: derived
  /RealTime/GetStopArrivals:
    get:
      tags:
      - Realtime
      summary: Get Stop Arrivals
      description: All vehicle arrivals at a stop.
      parameters:
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Arrivals at the stop.
      operationId: getRealTimeGetStopArrivals
      x-operation-id-source: derived
  /RealTime/GetMultiStopsArrivals:
    get:
      tags:
      - Realtime
      summary: Get Multi Stops Arrivals
      description: Batch arrival query for multiple stops.
      parameters:
      - in: query
        name: stopIds
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      responses:
        '200':
          description: Arrivals for the batch.
      operationId: getRealTimeGetMultiStopsArrivals
      x-operation-id-source: derived
  /RealTime/GetMultiStopsArrivalsWithAlerts:
    get:
      tags:
      - Realtime
      summary: Get Multi Stops Arrivals With Alerts
      description: Batch arrival query with line-level alerts.
      parameters:
      - in: query
        name: stopIds
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      responses:
        '200':
          description: Arrivals plus alerts.
      operationId: getRealTimeGetMultiStopsArrivalsWithAlerts
      x-operation-id-source: derived
components:
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 signature in the form `hmacauth <signature>:<nonce>:<timestamp>` over `<timestamp>:<payload>:<nonce>` using the API secret key.
    apiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: Public API key issued by Moovit. Required on every request.
externalDocs:
  description: Moovit Public Transit APIs reference
  url: https://api-docs.moovit.com/api-docs/5.1/MoovitPublicTransitAPIs.html
