openapi: 3.0.3
info:
  title: Moovit Public Transit APIs General Nearby API
  description: Moovit Public Transit APIs power multimodal trip planning, nearby transit discovery, stops and lines metadata, real-time arrival predictions, and service alerts across more than 3,500 cities in 112 countries. The APIs are tuned for short response times and are used to power Microsoft (Azure Maps), Uber, Lyft, Cubic, and city/transit-agency MaaS deployments. Authentication is HMAC-SHA256 with an API_KEY header plus an Authorization header of the form `hmacauth <signature>:<nonce>:<timestamp>`. All requests must carry a metro identifier (either a USER_LOC lat/lon pair or a MOOVIT_METRO_ID).
  version: 5.1.0.0
  contact:
    name: Moovit API Helpdesk
    email: helpdesk@moovit.com
    url: https://api-docs.moovit.com/
  license:
    name: Commercial
    url: https://moovit.com/maas-solutions/transit-apis/
servers:
- url: https://app5.moovitapp.com/services-app/services
  description: Production
- url: https://api.moovitapp.com/services-app/services/EX/API
  description: Production (MAG)
- url: https://stg.moovitapp.com/services-app/services
  description: Staging
security:
- apiKey: []
  hmacAuth: []
tags:
- name: Nearby
  description: Locate stops, bikes, and scooters near a coordinate.
paths:
  /Nearby/GetNearbyObjects:
    get:
      tags:
      - Nearby
      summary: Get Nearby Objects
      description: Locate stops, bikes, or scooters within a radius of a coordinate. Max radius 5km, max 100 objects.
      parameters:
      - in: query
        name: lat
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: lon
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: radius
        schema:
          type: integer
          default: 500
          maximum: 5000
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
          maximum: 100
      responses:
        '200':
          description: List of nearby transit objects.
components:
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 signature in the form `hmacauth <signature>:<nonce>:<timestamp>` over `<timestamp>:<payload>:<nonce>` using the API secret key.
    apiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: Public API key issued by Moovit. Required on every request.
externalDocs:
  description: Moovit Public Transit APIs reference
  url: https://api-docs.moovit.com/api-docs/5.1/MoovitPublicTransitAPIs.html
