openapi: 3.2.0
info:
  title: Moovit Public Transit Stops API
  description: Moovit Public Transit APIs power multimodal trip planning, nearby transit discovery, stops and lines metadata, real-time arrival predictions, and service alerts across more than 3,500 cities in 112 countries.
  version: 5.1.0.0
  contact:
    name: Moovit API Helpdesk
    email: helpdesk@moovit.com
    url: https://api-docs.moovit.com/
  license:
    name: Commercial
    url: https://moovit.com/maas-solutions/transit-apis/
servers:
- url: https://app5.moovitapp.com/services-app/services
  description: Production
- url: https://api.moovitapp.com/services-app/services/EX/API
  description: Production (MAG)
- url: https://stg.moovitapp.com/services-app/services
  description: Staging
security:
- apiKey: []
  hmacAuth: []
tags:
- name: Stops
  description: Stop metadata, lines served, reviews, and photos.
paths:
  /Stops/GetStopBasicInfo:
    get:
      tags:
      - Stops
      summary: Get Stop Basic Info
      description: Name, location, transit type, and agency for a stop.
      parameters:
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Basic stop info.
      operationId: getStopsGetStopBasicInfo
      x-operation-id-source: derived
  /Stops/GetStopLines:
    get:
      tags:
      - Stops
      summary: Get Stop Lines
      description: Lines that serve a stop.
      parameters:
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lines serving the stop.
      operationId: getStopsGetStopLines
      x-operation-id-source: derived
  /Stops/GetStopReviews:
    get:
      tags:
      - Stops
      summary: Get Stop Reviews
      description: User-submitted reviews and ratings for a stop.
      parameters:
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reviews and ratings.
      operationId: getStopsGetStopReviews
      x-operation-id-source: derived
  /Stops/GetStopPhotos:
    get:
      tags:
      - Stops
      summary: Get Stop Photos
      description: User-uploaded photos of a stop.
      parameters:
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Photos for the stop.
      operationId: getStopsGetStopPhotos
      x-operation-id-source: derived
  /Stops/GetStopDetails:
    get:
      tags:
      - Stops
      summary: Get Stop Details
      description: Aggregated stop information.
      parameters:
      - in: query
        name: stopId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Aggregated stop details.
      operationId: getStopsGetStopDetails
      x-operation-id-source: derived
components:
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 signature in the form `hmacauth <signature>:<nonce>:<timestamp>` over `<timestamp>:<payload>:<nonce>` using the API secret key.
    apiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: Public API key issued by Moovit. Required on every request.
externalDocs:
  description: Moovit Public Transit APIs reference
  url: https://api-docs.moovit.com/api-docs/5.1/MoovitPublicTransitAPIs.html
