openapi: 3.2.0
info:
  title: Moovit Public Transit Trip Plan API
  description: Moovit Public Transit APIs power multimodal trip planning, nearby transit discovery, stops and lines metadata, real-time arrival predictions, and service alerts across more than 3,500 cities in 112 countries.
  version: 5.1.0.0
  contact:
    name: Moovit API Helpdesk
    email: helpdesk@moovit.com
    url: https://api-docs.moovit.com/
  license:
    name: Commercial
    url: https://moovit.com/maas-solutions/transit-apis/
servers:
- url: https://app5.moovitapp.com/services-app/services
  description: Production
- url: https://api.moovitapp.com/services-app/services/EX/API
  description: Production (MAG)
- url: https://stg.moovitapp.com/services-app/services
  description: Staging
security:
- apiKey: []
  hmacAuth: []
tags:
- name: Trip Plan
  description: Multimodal trip planning and itinerary details.
paths:
  /TripPlan/GetSuggestedRoutes:
    get:
      tags:
      - Trip Plan
      summary: Get Suggested Routes
      description: Optimal multimodal A-to-B itineraries between an origin and destination.
      parameters:
      - in: query
        name: fromLat
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: fromLon
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: toLat
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: toLon
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: time
        schema:
          type: string
          format: date-time
      - in: query
        name: timeType
        schema:
          type: string
          enum:
          - DEPART_AT
          - ARRIVE_BY
      responses:
        '200':
          description: Suggested itineraries.
      operationId: getTripPlanGetSuggestedRoutes
      x-operation-id-source: derived
  /TripPlan/GetWalkingRoutes:
    get:
      tags:
      - Trip Plan
      summary: Get Walking Routes
      description: Pedestrian-only route between two points.
      parameters:
      - in: query
        name: fromLat
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: fromLon
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: toLat
        required: true
        schema:
          type: number
          format: double
      - in: query
        name: toLon
        required: true
        schema:
          type: number
          format: double
      responses:
        '200':
          description: Walking routes.
      operationId: getTripPlanGetWalkingRoutes
      x-operation-id-source: derived
  /TripPlan/GetBasicItinerary:
    get:
      tags:
      - Trip Plan
      summary: Get Basic Itinerary
      description: Core route details for a previously suggested itinerary.
      parameters:
      - in: query
        name: itineraryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Basic itinerary.
      operationId: getTripPlanGetBasicItinerary
      x-operation-id-source: derived
  /TripPlan/GetDetailedItineraryShape:
    get:
      tags:
      - Trip Plan
      summary: Get Detailed Itinerary Shape
      description: Geometry for each leg of an itinerary.
      parameters:
      - in: query
        name: itineraryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Itinerary geometry.
      operationId: getTripPlanGetDetailedItineraryShape
      x-operation-id-source: derived
  /TripPlan/GetDetailedItinerarySchedules:
    get:
      tags:
      - Trip Plan
      summary: Get Detailed Itinerary Schedules
      description: Timing information for each leg of an itinerary.
      parameters:
      - in: query
        name: itineraryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Itinerary schedules.
      operationId: getTripPlanGetDetailedItinerarySchedules
      x-operation-id-source: derived
  /TripPlan/GetDetailedItinerary:
    get:
      tags:
      - Trip Plan
      summary: Get Detailed Itinerary
      description: Comprehensive routing data including geometry, schedules, and alerts.
      parameters:
      - in: query
        name: itineraryId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detailed itinerary.
      operationId: getTripPlanGetDetailedItinerary
      x-operation-id-source: derived
components:
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 signature in the form `hmacauth <signature>:<nonce>:<timestamp>` over `<timestamp>:<payload>:<nonce>` using the API secret key.
    apiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: Public API key issued by Moovit. Required on every request.
externalDocs:
  description: Moovit Public Transit APIs reference
  url: https://api-docs.moovit.com/api-docs/5.1/MoovitPublicTransitAPIs.html
